autocorrect==0.3.0
beautifulsoup4==4.8.0
certifi==2019.6.16
chardet==3.0.4
request == 2.22.0
Click==7.0
Flask==1.1.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
lxml==4.6.5
MarkupSafe==1.1.1
nltk==3.4.4
py-thesaurus==1.0.5
pyspellchecker==0.5.0
requests==2.22.0
six==1.12.0
soupsieve==1.9.2
urllib3==1.25.3
Werkzeug==0.15.5
